In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet('K3241.K03200Y1.D50111.ESTABELE.parquet')

df.head()

,CNPJ Base,Filial,DV,Nome Fantasia,Situacao,CNAE,CNAE2,UF,Municipio,ddd1,fone1,ddd2,fone2,ddd fax,Fax,Email
0,692864,1,11,JM ESCRITORIO DE ASSESSORIA EM CONTABILIDADE,2,6920601,None,RS,8771,51,35948180,51.0,35947168,51.0,35931415,JOSEARTUR@JMCONTABILIDADE.COM.BR
1,5092092,1,9,BUENO DISTRIBUIDORA,2,4639701,"4623109,4635401,4635402,4635499,4649408,464949...",RS,8869,55,32371017,NaN,None,55.0,32322055,BUENODISTRIBUIDORA@HOTMAIL.COM
2,6228465,1,80,CASA DE CARNES O FILE,2,4722901,4712100,RS,8511,None,None,NaN,None,NaN,None,None
3,7025967,1,77,ELITI,2,4781400,None,RS,8947,None,None,NaN,None,NaN,None,None
4,2161988,1,4,None,2,8112500,None,RS,8801,051,2262101,NaN,None,NaN,None,None